body{
  margin: 0;
}

.App{
  margin-top: 50px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  gap: 10px;
}

input{
  width: 250px;
  padding: 10px;
}

button{
  padding: 10px 15px;

  cursor: pointer;
}

.todoBox{
  display: flex;

  align-items: center;

  gap: 20px;

  margin-top: 20px;
}